<template>
  <v-container fill-height fluid>
    <div class="flex-vertical fill-height">
      <div class="full-height">
        <Map />
      </div>
      <div class="fixed-height">
        <v-card>
          <v-card-text>
            <v-slider :min="0" :max="10000" v-model="progress" />
            {{ getCurrentTime | moment('DD-MM-YYYY HH:mm:ss') }}
          </v-card-text>
          <v-card-actions>
            <v-btn @click="togglePlay">{{ playing ? 'Stop' : 'Play' }}</v-btn>
          </v-card-actions>
        </v-card>
      </div>
    </div>
  </v-container>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
import Map from './Map';
let interval = null;
let pCheck = null;

export default {
  components: { Map },
  computed: {
    ...mapGetters(['getMaxTime', 'getMinTime', 'getCurrentTime']),
    timeProgress: {
      get() {
        return this.getMaxTime ? (this.getCurrentTime - this.getMinTime) / (this.getMaxTime - this.getMinTime) * 10000 : 0;
      },
      set(val) {
        this.SET_CURRENT_TIME(this.getMinTime + val * (this.getMaxTime - this.getMinTime) / 10000);
      }
    },
  },
  methods: {
    ...mapMutations(['SET_CURRENT_TIME']),
    togglePlay() {
      this.playing = !this.playing;
      if (this.playing) {
        interval = setInterval(() => {
          this.SET_CURRENT_TIME(this.getCurrentTime + 1000)
        }, 500);
      } else {
        if (interval) {
          clearInterval(interval);
        }
      }
    },
    pCheckHandler() {
      if (Math.abs(this.progress - this.timeProgress) > 1) {
        this.timeProgress = this.progress;
      }
    }
  },
  data() {
    return {
      playing: false,
      progress: 0,
    };
  },
  watch: {
    timeProgress(val) {
      if (Math.abs(val - this.progress) > 1) {
        this.progress = val;
      }
    },
    progress() {
      if (pCheck) {
        clearTimeout(pCheck);
      }
      pCheck = setTimeout(() => { this.pCheckHandler(); }, 300);
    },
  },
  beforeDestroy() {
    if (interval) {
      clearInterval(interval);
    }
    if (pCheck) {
      clearTimeout(pCheck);
    }
  }
};
</script>

<style>
  .flex-vertical {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    width: 100%;
  }
  .fixed-height {
    flex-grow: 0;
    display: block;
  }
  .full-height {
    flex-grow: 1;
    display: block;
  }
</style>
