<template>
  <div class="fill-height">
    <v-row class="fill-height" align="center" justify="center"  v-if="!getCurrentCoord">
      <v-progress-circular :indeterminate="true" />
    </v-row>
     <yandex-map
        v-if="getCurrentCoord"
        :coords="getCurrentCoord"
        :zoom="18"
        ref="myMap"
        style="height: 100%;"
      >
     </yandex-map>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { yandexMap, loadYmap } from 'vue-yandex-maps';

let line = null;
let placemark = null;

export default {
  components: { yandexMap },
  computed: {
    ...mapGetters(['getCurrentCoord', 'getLoading', 'getCoordsLine', 'getPrevCoord', 'getNextCoord', 'getTimeDiff', 'getTimeIndex']),
  },
  methods: {
    ...mapActions(['fetchData']),
    updateCoords() {
      const myMap = this.$refs.myMap;
      if ((typeof(ymaps) === undefined) || !myMap || !this.ready) {
        return;
      }
      const maxIndex = this.getCoordsLine ? this.getCoordsLine.length : 0;
      const sliceStart = Math.max(0, Math.floor(this.getTimeIndex / 1000) * 1000 - 1000);
      const sliceEnd = Math.min(maxIndex, Math.floor(this.getTimeIndex / 1000) * 1000 + 1000);
      if ((sliceStart !== this.sliceStart) || (sliceEnd !== this.sliceEnd)) {
        this.sliceStart = sliceStart;
        this.sliceEnd = sliceEnd;
        if (line) {
          myMap.myMap.geoObjects.remove(line);
        }
        const coords = this.getCoordsLine;
        // const coords = this.getCoordsLine.slice(sliceStart, sliceEnd);
        line = new ymaps.GeoObject({
          geometry: {
            type: 'LineString',
            coordinates: coords,
          },
        },
        {
          strokeWidth: 5,
        });
        myMap.myMap.geoObjects.add(line);
      }
      if (!placemark) {
        placemark = new ymaps.Placemark(this.getCurrentCoord, {
          iconContent: '',
        },
        {
          preset: 'islands#redStretchyIcon',
        })
        myMap.myMap.geoObjects.add(placemark);
      } else {
        placemark.geometry.setCoordinates(this.getCurrentCoord);
        const dist = ymaps.coordSystem.geo.getDistance(this.getPrevCoord, this.getNextCoord);
        const speed = Math.round(dist / this.getTimeDiff * 1000 * 60 * 60 / 1000 / 5) * 5;
        placemark.properties.set({ iconContent: speed });
      }
    }
  },
  async mounted() {
    await this.fetchData();
    await loadYmap();
    console.log(this.getCoordsLine.length);
    ymaps.ready(() => {
      this.ready = true;
      this.updateCoords();
    });
  },
  data() {
    return {
      ready: false,
      sliceStart: 0,
      sliceEnd: 0,
    };
  },
  watch: {
    getNearestCoords() {
      this.updateCoords();
    },
    getNextCoord() {
      this.updateCoords();
    }
  }
};
</script>
